$blue: #23a8d8;
$blue-darker: #1c97c4;
$red: #ce2a2d;
$red-darker: #b82426;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  padding: 1rem 0;
  border-bottom: 1px solid #cccccc;
  text-align: left;
  background: #ffffff;
  h1 {
    margin: 0;
    flex-grow: 1;
    a {
      color: black;
      text-decoration: none;
    }
  }
  .container {
    display: flex;
    .username {
      margin-right: 1rem;
      @media (max-width: 500px) {
        display: block;
        margin-right: 0;
        text-align: center;
      }
    }
  }
}

.container {
  width: 1000px;
  max-width: calc(100% - 2rem);
  margin: 0 auto;
  &.small {
    width: 600px;
  }
}

.field {
  text-align: left;
  margin-bottom: 1rem;
  label {
    display: block;
    text-transform: uppercase;
  }
  input,
  select {
    appearance: none;
    background: #ffffff;
    border-radius: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid #cccccc;
    max-width: calc(100% - 2rem);
    &:focus {
      border-color: $blue;
    }
    &:disabled {
      background: #eeeeee;
      cursor: not-allowed;
    }
  }

  &.action {
    text-align: center;
  }
}

.btn {
  display: inline-block;
  background: #eeeeee;
  color: #000000;
  border-radius: 2rem;
  border: 0;
  padding: 0.5rem 1rem;
  width: 200px;
  max-width: 100%;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  &:hover,
  &:focus {
    background: #e9e9e9;
  }

  &.blue {
    background: $blue;
    color: #ffffff;

    &:hover,
    &:focus {
      background: $blue-darker;
    }
  }

  &.red {
    background: $red;
    color: #ffffff;

    &:hover,
    &:focus {
      background: $red-darker;
    }
  }
}

.card {
  background: #eeeeee;
  border-radius: 0.5rem;
  padding: 1rem;
}

.link {
  color: $blue;
  text-decoration: underline;
  cursor: pointer;
  &:hover,
  &:focus {
    color: #000000;
  }
}

.error {
  padding: 1rem;
  margin: 0.5rem 0;
  text-align: center;
  background: #cc0000;
  color: #ffffff;
}
